
:root {
  --primary: #D00000;
  --secondary: rgb(180, 253, 140);
  --tertiary: #8237f6;
  --accent: #F8F9FA;
  --text: #000000;
  --footer: #6C757D;
}
*{
  padding: 0;
  margin: 0;
  color: var(--text);
}
header{
  background-color: var(--text);
  border-bottom: solid 1.5px grey;
  width: 100%;
  overflow: hidden;
}
footer{
  position: absolute;
  bottom: -40px;
  border-top: solid 1.5px grey;
  color: var(--footer);
}
input {
  padding: 10px;
  font-size: 14px;
}

input:focus {
  outline: none;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  max-width: 700px;
}

.logo-main, .logo-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #D00000; /* Red color */
  letter-spacing: -2px;
}

.logo-main {
  font-size: 90px; /* Default size for laptops */
}

.logo-sub {
  font-size: 90px; /* Default size for laptops */
}

.logo-motto {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #D00000; /* Red color */
  text-transform: uppercase;
  text-align: right;
}

/* Tablets */
@media (max-width: 768px) {
  .logo-main, .logo-sub {
    font-size: 60px;
  }
  .logo-motto {
    font-size: 14px;
    margin-left: 10px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .logo-main, .logo-sub {
    font-size: 40px;
  }
  .logo-motto {
    display: none;
  }
}

.color-red{
  color: var(--primary);
}
.grid-container{
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
}
.font-montserrat{
  font-family: "Montserrat", sans-serif;
}
.all-nav{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: fit-content;
}
.nav-item{
  color: #dc3545;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  line-height: 3;
  border-bottom: 2px dotted black;
  width: max-content;
}
.nav-item:hover{
  color: var(--accent);
  border-bottom: 2px dotted white;
}
.nav-item-hover{
  color: var(--accent);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
.hover-info{
  border: 1px var(--accent) solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 0px;
  text-decoration: none;
}
.hovered-info{
  border: 1.5px var(--accent) solid;
  color: var(--accent);
  text-decoration: none;
}
.hovered-info h6{
  color: var(--accent);
}
.hover-info:hover{
  border: 1.5px var(--accent) solid;
  color: var(--accent);
}
.hoverCatList{
  text-decoration: none;
  color: hsl(0, 0%, 42%);
}
.hoveredCatList{
  background-color: hsl(0, 0%, 42%);
  color: white;
  padding: 5px;
  height: fit-content;
  width: fit-content;
}
.hoverCatList:hover{
  background-color: hsl(0, 0%, 42%);
  color: white;
  padding: 5px;
  height: fit-content;
}